<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Satto Photo" %></title>
    <%# viewport-fit=cover は iPhone のノッチ対策（全画面表示で必須） %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%# ステータスバーを透明化してアプリ感を極める %>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
  </head>

  <body class="bg-gray-50">
    <%= yield %>
  </body>
</html>
